figure {
	background: white;
	display: inline-block;
	text-align: center;
	border: 1px solid black;
	padding: 2px 5px;
	border-radius: 0 8px 8px;
	margin: 1em 0
}

figcaption {
	font-family: "Arial", sans;
	font-size: 1.4em;
	font-weight: bold;
}

#notice {
	background: #fcc;
	border: 2px solid red;
	border-radius: 0.3em;
	color: red;
	padding: 1em;
	text-align: center;
}
